attachment/sample/soap/Restaurant_xsd.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap.dineup.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.dineup.com">

<xs:element name="category" type="tns:categoryElement"/>

<xs:element name="coordinate" type="tns:coordinateElement"/>

<xs:element name="extra" type="tns:extraElement"/>

<xs:element name="food" type="tns:foodElement"/>

<xs:element name="getRestaurants" type="tns:getRestaurants"/>

<xs:element name="getRestaurantsResponse" type="tns:getRestaurantsResponse"/>

<xs:element name="option" type="tns:optionElement"/>

<xs:element name="price" type="tns:priceElement"/>

<xs:element name="restaurant" type="tns:restaurantElement"/>

<xs:complexType name="getRestaurants">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRestaurantsResponse">
<xs:sequence>
<xs:element name="return" type="tns:restaurantElement" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="restaurantElement">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="categories" type="tns:categoryElement" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="coordinate" type="tns:coordinateElement" minOccurs="0"/>
<xs:element name="defaultCurrency" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="openHours" type="xs:string" minOccurs="0"/>
<xs:element name="photoUrl" type="xs:string" minOccurs="0"/>
<xs:element name="rating" type="xs:int"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:int"/>
</xs:complexType>

<xs:complexType name="categoryElement">
<xs:sequence>
<xs:element name="foods" type="tns:foodElement" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="photoUrl" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:int"/>
</xs:complexType>

<xs:complexType name="foodElement">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="extras" type="tns:extraElement" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="photoUrl" type="xs:string" minOccurs="0"/>
<xs:element name="prices" type="tns:priceElement" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="id" type="xs:int"/>
</xs:complexType>

<xs:complexType name="extraElement">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="options" type="tns:optionElement" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:int"/>
</xs:complexType>

<xs:complexType name="optionElement">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="prices" type="tns:priceElement" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="id" type="xs:int"/>
</xs:complexType>

<xs:complexType name="priceElement">
<xs:sequence>
<xs:element name="amount" type="xs:decimal" minOccurs="0"/>
<xs:element name="currency" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="coordinateElement">
<xs:sequence>
<xs:element name="latitude" type="xs:double"/>
<xs:element name="longitude" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>